// nf-core-style configuration for the SNAF workflow
manifest {
    name            = 'altanalyze3/snaf'
    author          = 'SalomonisLab'
    description      = 'SNAF neoantigen workflow (tumor-specificity + MHC-bound T-antigen)'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1.0'
}

params {
    input        = null
    mode         = 'ts'
    control_h5ad = null
    db_dir       = null
    genome_fasta = null
    outdir       = 'results'
    publish_dir_mode = 'copy'
}

process {
    resourceLimits = [ cpus: 16, memory: '128.GB', time: '48.h' ]
    publishDir = [ path: { "${params.outdir}/${task.process.tokenize(':').last().toLowerCase()}" },
                   mode: params.publish_dir_mode ]

    withLabel:process_medium { cpus = 4;  memory = '16.GB'; time = '8.h'  }
    withLabel:process_high   { cpus = 12; memory = '64.GB'; time = '24.h' }

    // BayesTS on by default for the TS module
    withName:SNAF_TS { ext.args = '--methods mle bayesian' }
}

profiles {
    docker      { docker.enabled      = true  }
    singularity { singularity.enabled = true; singularity.autoMounts = true }
    conda       { conda.enabled       = true  }
    local       { process.executor    = 'local' }
    test        { includeConfig 'conf/test.config' }
}
