PRSS2
NKAIN4
C5orf46
CDH2
HABP2
R3HDML
PLD5
CLDN6
AL121827.2
PRSS1
BAAT
CAPN6
EDN2
CGB5
AC025580.1
SPRR1A
EPHB2
LRRN1
CDKN2A
PCP4
CLDN2
CPA6
STK32A
MEX3A
TMEM132D
AC097478.1
HMGA2
CRLF1
MYO3B
PTCHD4
CDKN2B
CDH8