Daedalus/
Proteus/
rna2lipid/*
!rna2lipid/
!rna2lipid/README.md
!rna2lipid/__init__.py
!rna2lipid/api.py
!rna2lipid/cli.py
!rna2lipid/clean_elastic_model.py
!rna2lipid/clean_validation_elastic.py
!rna2lipid/documentation_lipid_true_processing.py
!rna2lipid/requirements.txt
!rna2lipid/otherelastic_multitask_try.pkl
!rna2lipid/data/
!rna2lipid/data/*.csv
!rna2lipid/data/*.txt
rna2lipid/.DS_Store
rna2lipid/data/.DS_Store
